body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.navbar .sign-in {
    padding: 5px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.search-box input, .search-box select {
    padding: 10px;
    margin-right: 10px;
}

.search-box button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.explore-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    text-align: center;
}


#createChaletBtn {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Cursor changes to pointer when hovered */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    outline: none; /* Removes outline on focus in some browsers */
}

#createChaletBtn:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
}

body {
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.chalet {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.chalet img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
.chalet-details {
    flex-grow: 1;
}
.chalet-details h2 {
    margin: 0;
}
.chalet-details button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.add-chalet {
    margin: 20px 0;
}