body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.navbar .sign-in {
    padding: 5px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.search-box input, .search-box select {
    padding: 10px;
    margin-right: 10px;
}

.search-box button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.explore-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    text-align: center;
}


.center-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#home-img {
    max-width: 100%;
    height: auto;
    width: 40%; 
}

.chalet-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chalet-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.chalet-card img {
    max-width: 100%;
    height: auto;
}